/* BASICO */ 

	*{
	margin: 0px;
	padding: 0px;
	}
	
	html, body{
	height:100%;
	} 

/* fim */




/*css apenas pra o metodo*/   


.method_Dhead{
	position:absolute;
	top:10%;
	left:40% ;
	width:20%;
	height:50%;
background-image:url("../img2/header.png");
background-size: 100% 100%; 
}

/* fim */

/* COLLECTION AND BUTTONS */ 


.button-entrar{

position:absolute  ;
	   background-color:#469CB9 ;
	   
	   width:20%;
	   height:10%; 
	   top:60%;
	   left:40%;
	   border-radius:2.5%; 

}

.pcolor{
		font-family: 'Comic Neue', cursive;
		font-size:40px;
		color:#DAEFF1;
		position:relative;
		top:5px;
		margin:0px;
		margin-left:0px;
		text-align:center; 
		font-weight:bold;
	}
/* FIM --COLLECTION AND BUTTONS */
@media screen and (max-width:950px){


/* HEADER  */

	.method_Dhead{
    top:10%;
	left:35% ;
	width:30%;
	height:50%;
	} 


/* fim */



}    


@media screen and (max-width:720px){





/* HEADER  */

	.method_Dhead{
	position:absolute;
	top:10%;
	left:27.5% ;
	width:44%;
	} 


/* fim */

/* COLLECTION AND BUTTONS */ 



.button-entrar{

position:absolute  ;
	   background-color:#469CB9 ;
	   
	   width:40%;
	   height:10%; 
	   top:60%;
	   left:30%;
	   border-radius:2.5%; 

}

.pcolor{
		font-family: 'Comic Neue', cursive;
		font-size:40px;
		color:#DAEFF1;
		position:relative;
		top:5px;
		margin:0px;
		margin-left:0px;
		text-align:center; 
		font-weight:bold;
	}
/* FIM --COLLECTION AND BUTTONS */

}   


@media screen and (max-width:520px){

  .method_Dhead{
    top:10%;
	left:12.5% ;
	width:75%;
	height:50%;
	} 
}
