body{
	height:100vh;
}
div#listalista{
	height:100vh;
}  
.more-img{
	float:right;
	margin-top:12%;
	position:relative ;
	z-index:9999999999999;  
}
/* PRIMEIRA PARTE DO HEADER */ 
#header00{
position:relative; 
width:100%;
height:15%;
background-color:#469CB9; 
margin:0px; 
border: 2px solid #DAEFF1;


}
.caixa_lista{
position:relative; 
width:100%;
height:98%;
background-color:#469CB9; 
margin:0px; 
border: 2px solid #DAEFF1;
float:left; 

}
.box_menu{
	position:relative; 
	width:100%;
	height:15%;
	background-color:#469CB9; 
	margin:0px; 
	border: 2px solid #DAEFF1;
display:block; 
}
p.lista{
font-family: 'Comic Neue', cursive;
		font-size:40px;
		color:#DAEFF1;
		position:relative;
		top:19px;
		margin:0px;
		margin-left:0px;
		text-align:center; 
		font-weight:bold;
height:100%;
 

}
/* FIM*/

/* SEGUNDA PART E DO HEADER */   
#header02{
position:relative; 
width:100%;
height:15%;
background-color:#469CB9; 
margin:0px; 
border: 2px solid #DAEFF1;


}

.crescente{
position:relative; 
width:49%;
height:98%;
background-color:#469CB9; 
margin:0px; 
border: 2px solid #DAEFF1;
float:left; 
}
.decrescente{
position:relative; 
width:50.2%;
height:98%;
background-color:#469CB9; 
margin:0px; 
border: 2px solid #DAEFF1;
float:left; 
}
/* FIM*/

#listabox{
position:absolute; 
width:100%;
height:100%;

}  


#listalista{
position:absolute; 
width:100%;
height:100%;

}  


.task-img{
	margin-top: 10%; 
	margin-left: 3.2%; 
	margin-right: 3.2%; 
	
	float: left; 
}
.box-table{
	
	width:424px;
	height:133px; 
	float:left;
	 padding: 1.5%; 
	 
}
.box-table:hover{
	border: 8px solid white;
}
.box-ally{
	width:131px; 
	height:133px;	
	float:left;
} 

.box-nome{
	width: 270px;
	height: 60px;
	background-color:#DAEFF1; 
	float:left;
	margin-left:5%; 
}
.box-nome > p{
	color:#4C9FBB;
	font-family:arial;
	font-size:32px;
	float:left; 
	font-weight:bold;
	text-align:center;
	width:100%;
	height:100% ;
	margin-top:3.5%; 
}

.box-number{
	width: 270px;
	height: 60px;
	background-color:#DAEFF1; 
	float:left;
	margin-left:5%; 
	margin-top:2.4%; 
}
.box-number > p{
	color:#4C9FBB;
	font-family:arial;
	font-size:32px;
	float:left; 
	font-weight:bold;
	text-align:center;
	width:100%;
	height:100% ;
	margin-top:3.5%; 
}
@media screen and (max-width:1040px){
.box_menu{
	position:relative; 
	width:100%;
	height:15%;
	background-color:#469CB9; 
	margin:0px; 
	border: 2px solid #DAEFF1;
	float:left;
	display:block; 
}

.crescente{
display:block; 
float:initial; 
width:100%;
  
}

.decrescente{
display:block; 	
float:initial; 	
width:100%;
}
}